.offcanvas__left,
.offcanvas__right {
  background-color: #242326; }

.offcanvas__middle {
  background-color: #3b3b3f; }

body {
  min-width: 320px !important;
  overflow: hidden;
  position: relative;
  overflow-x: hidden; }
  @media only screen and (min-width: 321px) and (max-width: 1024px) {
    body {
      overflow-x: auto; } }
  body .box {
    background: #fff;
    margin: 5px; }
    body .box .list-ui {
      border-top: none;
      border-bottom: none; }
      body .box .list-ui > :last-child {
        border-bottom: none; }
    body .box h3 {
      border-bottom: 1px solid #d1d0d8;
      margin-top: 0; }
  body header h1 {
    font-weight: 500;
    color: #b1b1bc;
    font-size: 1.3rem;
    margin: 0;
    padding: 5px 10px; }

.visible-mobile {
  display: none; }
  @media only screen and (max-width: 320px) {
    .visible-mobile {
      display: block !important; } }
  @media only screen and (min-width: 321px) and (max-width: 1024px) {
    .visible-mobile {
      display: none; } }
  @media only screen and (min-width: 1024px) {
    .visible-mobile {
      display: none; } }

.visible-tablet {
  display: none; }
  @media only screen and (max-width: 320px) {
    .visible-tablet {
      display: none; } }
  @media only screen and (min-width: 321px) and (max-width: 1024px) {
    .visible-tablet {
      display: block !important; } }
  @media only screen and (min-width: 1024px) {
    .visible-tablet {
      display: none; } }

.visible-desktop {
  display: none; }
  @media only screen and (max-width: 320px) {
    .visible-desktop {
      display: none; } }
  @media only screen and (min-width: 321px) and (max-width: 1024px) {
    .visible-desktop {
      display: none; } }
  @media only screen and (min-width: 1024px) {
    .visible-desktop {
      display: block !important; } }

@media only screen and (max-width: 320px) {
  .debug .offcanvas .box {
    background-color: #75d835 !important; } }

@media only screen and (min-width: 321px) and (max-width: 1024px) {
  .debug .offcanvas .box {
    background-color: #DBEBF6 !important; } }

@media only screen and (min-width: 1024px) {
  .debug .offcanvas .box {
    background-color: #ff5c5c !important; } }

.offcanvas {
  display: block;
  transition: all 0.3s ease-out;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  height: 100vh; }
  .offcanvas > * {
    box-sizing: border-box;
    min-height: 150px;
    min-width: 150px; }
  @media only screen and (min-width: 1024px) {
    .offcanvas {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; } }
  @media only screen and (min-width: 321px) and (max-width: 1024px) {
    .offcanvas {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; } }
  .offcanvas__toggle {
    display: none  !important; }
    @media only screen and (min-width: 1024px) {
      .offcanvas__toggle {
        display: none  !important; } }
    @media only screen and (min-width: 321px) and (max-width: 1024px) {
      .offcanvas__toggle {
        display: block  !important; } }
    @media only screen and (max-width: 320px) {
      .offcanvas__toggle {
        display: block  !important; } }
  .offcanvas__middle {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease-out; }
    @media only screen and (min-width: 321px) and (max-width: 1024px) {
      .offcanvas__middle {
        width: 100%;
        position: static; } }
    @media only screen and (min-width: 1024px) {
      .offcanvas__middle {
        position: static; } }
    .offcanvas__middle--is-open {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  .offcanvas .offcanvas__left,
  .offcanvas .offcanvas__right {
    position: absolute;
    width: 250px;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    z-index: 1; }
  .offcanvas.push {
    background: red; }
  .offcanvas__left {
    -webkit-transform: translateX(-245px);
    transform: translateX(-245px);
    left: 0; }
    .offcanvas__left--is-open {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    @media only screen and (min-width: 321px) and (max-width: 1024px) {
      .offcanvas__left {
        left: auto;
        position: static !important;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); } }
    @media only screen and (min-width: 1024px) {
      .offcanvas__left {
        position: static;
        -webkit-transform: translateX(0);
        transform: translateX(0); } }
  .offcanvas__right {
    right: 0;
    -webkit-transform: translateX(250px);
    transform: translateX(250px); }
    .offcanvas__right--is-open {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    @media only screen and (min-width: 1024px) {
      .offcanvas__right {
        right: auto;
        position: static;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        transition: none 0 ease-out; } }
    @media only screen and (min-width: 1024px) {
      .offcanvas__right {
        position: static;
        -webkit-transform: translateX(0);
        transform: translateX(0); } }
