.range {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  line-height: 1;
  border-radius: 4px;
  border: none;
  height: 2px;
  border-radius: 0;
  border-radius: 3px;
  background-image: linear-gradient(#ddd, #ddd);
  background-position: left center;
  background-size: 100% 2px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 31px; }
  .range::-moz-range-track {
    position: relative;
    border: none;
    background-color: #ddd;
    height: 2px;
    border-radius: 30px;
    box-shadow: none;
    top: 0;
    margin: 0;
    padding: 0; }
  .range::-webkit-slider-thumb {
    cursor: pointer;
    position: relative;
    height: 29px;
    width: 29px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: none;
    top: 0;
    margin: 0;
    padding: 0; }
  .range::-moz-range-thumb {
    cursor: pointer;
    position: relative;
    height: 29px;
    width: 29px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: none;
    margin: 0;
    padding: 0; }
  .range::-webkit-slider-thumb:before {
    position: absolute;
    top: 13px;
    right: 0;
    left: -1024px;
    width: 1024px;
    height: 2px;
    background-color: rgba(24, 103, 194, 0.81);
    content: '';
    margin: 0;
    padding: 0; }
  .range:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none; }

.background-color.primary-color {
  background-color: #3573c5 !important; }

.background-color.chrome {
  background-color: #E4E4EA !important; }

.background-color.chrome-color {
  background-color: #E4E4EA !important; }

.background-color.default-color {
  background-color: #3C3A3A !important; }

.background-color.positive-color {
  background-color: #5cb85c !important; }

.background-color.negative-color {
  background-color: #d9534f !important; }

.background-color.color-alt {
  background-color: #9799A3 !important; }

.background-color.color-link {
  background-color: #9799A3 !important; }

.background-color.color-dark {
  background-color: #222222 !important; }

.background-color.color-light {
  background-color: #EEEEEE !important; }

.background-color.color-white {
  background-color: #FEFFFF !important; }

.background-color.color-black {
  background-color: #000 !important; }

.background-color.color-green {
  background-color: #4AAA1D !important; }

.background-color.color-dark-green {
  background-color: #1E5E17 !important; }

.background-color.color-red {
  background-color: #DA2839 !important; }

.background-color.color-blue {
  background-color: #0D5FB7 !important; }

.background-color.color-dark-blue {
  background-color: #07376C !important; }

.background-color.color-yellow {
  background-color: #FCCF53 !important; }

.background-color.red {
  background-color: #e32533 !important; }

.background-color.blue {
  background-color: #005cb9 !important; }

.background-color.green {
  background-color: #46ad00 !important; }

.background-color.purple {
  background-color: #8669ff !important; }

.background-color.orange {
  background-color: #ff9821 !important; }

.background-color.yellow {
  background-color: #ffed45 !important; }

.background-color.gray {
  background-color: #525156 !important; }

.background-color.pink {
  background-color: pink !important; }

.background-color.brown {
  background-color: brown !important; }

.background-color.black-light {
  background-color: #222 !important; }

.background-color.red-light {
  background-color: #ff5c5c !important; }

.background-color.blue-light {
  background-color: #3693f8 !important; }

.background-color.green-light {
  background-color: #75d835 !important; }

.background-color.purple-light {
  background-color: #9c97ff !important; }

.background-color.orange-light {
  background-color: #ffbb66 !important; }

.background-color.yellow-light {
  background-color: #fff98d !important; }

.background-color.gray-light {
  background-color: #D3D3D3 !important; }

.background-color.pink-light {
  background-color: #FFB6C1 !important; }

.background-color.brown-light {
  background-color: #D2B48C !important; }

.background-color.red-dark {
  background-color: #b61225 !important; }

.background-color.blue-dark {
  background-color: #00366e !important; }

.background-color.green-dark {
  background-color: #1d5f11 !important; }

.background-color.pink-dark {
  background-color: #b61225 !important; }

.background-color.purple-dark {
  background-color: #595194 !important; }

.background-color.orange-dark {
  background-color: #e55c00 !important; }

.background-color.yellow-dark {
  background-color: #ffcf45 !important; }

.background-color.brown-dark {
  background-color: #A0522D !important; }

.background-color.black-dark {
  background-color: #000 !important; }

.background-color.gray-dark {
  background-color: #A9A9A9 !important; }

.background-color.black {
  background-color: black !important; }

.background-color.gray10 {
  background-color: #242326 !important; }

.background-color.gray9 {
  background-color: #3b3b3f !important; }

.background-color.gray8 {
  background-color: #525156 !important; }

.background-color.gray7 {
  background-color: #7c7c84 !important; }

.background-color.gray6 {
  background-color: #9999a3 !important; }

.background-color.gray5 {
  background-color: #b1b1bc !important; }

.background-color.gray4 {
  background-color: #d1d0d8 !important; }

.background-color.gray3 {
  background-color: #e4e4ea !important; }

.background-color.gray2 {
  background-color: #efeff4 !important; }

.background-color.gray1 {
  background-color: #f7f7fc !important; }

.background-color.white {
  background-color: white !important; }

.background-color.graybg {
  background-color: #8b8d8f !important; }

.background-color.primary {
  background-color: #3e87e8 !important; }

.background-color.primary-hover {
  background-color: #3573c5 !important; }

.background-color.primary-pressed {
  background-color: #2b5ea2 !important; }

.background-color.select-default {
  background-color: #0a9ec1 !important; }

.background-color.select-hover {
  background-color: #0986a4 !important; }

.background-color.select-pressed {
  background-color: #086e87 !important; }

.background-color.alert-red {
  background-color: #e53838 !important; }

.background-color.alert-orange {
  background-color: #dd6b1f !important; }

.background-color.alert-yellow {
  background-color: #e8a736 !important; }

.background-color.alert-blue {
  background-color: #4364dd !important; }

.background-color.dv-gray {
  background-color: #4d4d4d !important; }

.background-color.dv-blue {
  background-color: #5da5da !important; }

.background-color.dv-orange {
  background-color: #faa43a !important; }

.background-color.dv-green {
  background-color: #60bd68 !important; }

.background-color.dv-pink {
  background-color: #f17cb0 !important; }

.background-color.dv-brown {
  background-color: #b2912f !important; }

.background-color.dv-purple {
  background-color: #b276b2 !important; }

.background-color.dv-yellow {
  background-color: #decf3f !important; }

.background-color.dv-red {
  background-color: #f15854 !important; }

.background-color.dv-light-gray {
  background-color: #8c8c8c !important; }

.background-color.dv-light-blue {
  background-color: #88bde6 !important; }

.background-color.dv-light-orange {
  background-color: #fbb258 !important; }

.background-color.dv-light-green {
  background-color: #90cd97 !important; }

.background-color.dv-light-pink {
  background-color: #f6aac9 !important; }

.background-color.dv-light-brown {
  background-color: #bfa554 !important; }

.background-color.dv-light-purple {
  background-color: #bc99c7 !important; }

.background-color.dv-light-yellow {
  background-color: #eddd46 !important; }

.background-color.dv-light-red {
  background-color: #f07e6e !important; }

.background-color.dv-dark-gray {
  background-color: black !important; }

.background-color.dv-dark-blue {
  background-color: #265dab !important; }

.background-color.dv-dark-orange {
  background-color: #df5c24 !important; }

.background-color.dv-dark-green {
  background-color: #059748 !important; }

.background-color.dv-dark-pink {
  background-color: #e5126f !important; }

.background-color.dv-dark-brown {
  background-color: #9d722a !important; }

.background-color.dv-dark-purple {
  background-color: #7b3a96 !important; }

.background-color.dv-dark-yellow {
  background-color: #c7b42e !important; }

.background-color.dv-dark-red {
  background-color: #cb2027 !important; }

.background-color.twitter {
  background-color: #20BCF0 !important; }

.background-color.facebook {
  background-color: #3B579D !important; }

.background-color.linkedin {
  background-color: #2088AF !important; }

.background-color.instagram {
  background-color: #444444 !important; }

.background-color.google {
  background-color: #DF4231 !important; }

.background-color.youtube {
  background-color: #C73A3F !important; }

.background-color.windows {
  background-color: #3388EB !important; }

.background-color.pinterest {
  background-color: #C73A3F !important; }

.background-color.vemo {
  background-color: #ACD05F !important; }

.background-color.xbox {
  background-color: #63AA2A !important; }

.background-color.github {
  background-color: #222222 !important; }

.background-color.html5 {
  background-color: #E86442 !important; }

.background-color.evernote {
  background-color: #1D8C56 !important; }

.background-color.evernote-dark {
  background-color: #233039 !important; }

.background-colors {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .background-colors li {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #fefefe; }

.hidden {
  display: none;
  visibility: hidden; }

.visible-phone {
  display: none !important; }

.visible-tablet {
  display: none !important; }

.hidden-desktop {
  display: none !important; }

.visible-desktop {
  display: inherit !important; }

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important; }
  .visible-desktop {
    display: none !important; }
  .visible-tablet {
    display: inherit !important; }
  .hidden-tablet {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important; }
  .visible-desktop {
    display: none !important; }
  .visible-phone {
    display: inherit !important; }
  .hidden-phone {
    display: none !important; } }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.round {
  border-radius: 5px; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.margin-100 {
  margin: 100px !important; }

.margin-95 {
  margin: 95px !important; }

.margin-90 {
  margin: 90px !important; }

.margin-85 {
  margin: 85px !important; }

.margin-80 {
  margin: 80px !important; }

.margin-75 {
  margin: 75px !important; }

.margin-70 {
  margin: 70px !important; }

.margin-65 {
  margin: 65px !important; }

.margin-60 {
  margin: 60px !important; }

.margin-55 {
  margin: 55px !important; }

.margin-50 {
  margin: 50px !important; }

.margin-45 {
  margin: 45px !important; }

.margin-40 {
  margin: 40px !important; }

.margin-35 {
  margin: 35px !important; }

.margin-30 {
  margin: 30px !important; }

.margin-25 {
  margin: 25px !important; }

.margin-20 {
  margin: 20px !important; }

.margin-15 {
  margin: 15px !important; }

.margin-10 {
  margin: 10px !important; }

.margin-5 {
  margin: 5px !important; }

.height-1250 {
  height: 1250px !important; }

.height-1225 {
  height: 1225px !important; }

.height-1200 {
  height: 1200px !important; }

.height-1175 {
  height: 1175px !important; }

.height-1150 {
  height: 1150px !important; }

.height-1125 {
  height: 1125px !important; }

.height-1100 {
  height: 1100px !important; }

.height-1075 {
  height: 1075px !important; }

.height-1050 {
  height: 1050px !important; }

.height-1025 {
  height: 1025px !important; }

.height-1000 {
  height: 1000px !important; }

.height-975 {
  height: 975px !important; }

.height-950 {
  height: 950px !important; }

.height-925 {
  height: 925px !important; }

.height-900 {
  height: 900px !important; }

.height-875 {
  height: 875px !important; }

.height-850 {
  height: 850px !important; }

.height-825 {
  height: 825px !important; }

.height-800 {
  height: 800px !important; }

.height-775 {
  height: 775px !important; }

.height-750 {
  height: 750px !important; }

.height-725 {
  height: 725px !important; }

.height-700 {
  height: 700px !important; }

.height-675 {
  height: 675px !important; }

.height-650 {
  height: 650px !important; }

.height-625 {
  height: 625px !important; }

.height-600 {
  height: 600px !important; }

.height-575 {
  height: 575px !important; }

.height-550 {
  height: 550px !important; }

.height-525 {
  height: 525px !important; }

.height-500 {
  height: 500px !important; }

.height-475 {
  height: 475px !important; }

.height-450 {
  height: 450px !important; }

.height-425 {
  height: 425px !important; }

.height-400 {
  height: 400px !important; }

.height-375 {
  height: 375px !important; }

.height-350 {
  height: 350px !important; }

.height-325 {
  height: 325px !important; }

.height-300 {
  height: 300px !important; }

.height-275 {
  height: 275px !important; }

.height-250 {
  height: 250px !important; }

.height-225 {
  height: 225px !important; }

.height-200 {
  height: 200px !important; }

.height-175 {
  height: 175px !important; }

.height-150 {
  height: 150px !important; }

.height-125 {
  height: 125px !important; }

.height-100 {
  height: 100px !important; }

.height-75 {
  height: 75px !important; }

.height-50 {
  height: 50px !important; }

.height-25 {
  height: 25px !important; }

.width-1250 {
  height: 1250px !important; }

.width-1225 {
  height: 1225px !important; }

.width-1200 {
  height: 1200px !important; }

.width-1175 {
  height: 1175px !important; }

.width-1150 {
  height: 1150px !important; }

.width-1125 {
  height: 1125px !important; }

.width-1100 {
  height: 1100px !important; }

.width-1075 {
  height: 1075px !important; }

.width-1050 {
  height: 1050px !important; }

.width-1025 {
  height: 1025px !important; }

.width-1000 {
  height: 1000px !important; }

.width-975 {
  height: 975px !important; }

.width-950 {
  height: 950px !important; }

.width-925 {
  height: 925px !important; }

.width-900 {
  height: 900px !important; }

.width-875 {
  height: 875px !important; }

.width-850 {
  height: 850px !important; }

.width-825 {
  height: 825px !important; }

.width-800 {
  height: 800px !important; }

.width-775 {
  height: 775px !important; }

.width-750 {
  height: 750px !important; }

.width-725 {
  height: 725px !important; }

.width-700 {
  height: 700px !important; }

.width-675 {
  height: 675px !important; }

.width-650 {
  height: 650px !important; }

.width-625 {
  height: 625px !important; }

.width-600 {
  height: 600px !important; }

.width-575 {
  height: 575px !important; }

.width-550 {
  height: 550px !important; }

.width-525 {
  height: 525px !important; }

.width-500 {
  height: 500px !important; }

.width-475 {
  height: 475px !important; }

.width-450 {
  height: 450px !important; }

.width-425 {
  height: 425px !important; }

.width-400 {
  height: 400px !important; }

.width-375 {
  height: 375px !important; }

.width-350 {
  height: 350px !important; }

.width-325 {
  height: 325px !important; }

.width-300 {
  height: 300px !important; }

.width-275 {
  height: 275px !important; }

.width-250 {
  height: 250px !important; }

.width-225 {
  height: 225px !important; }

.width-200 {
  height: 200px !important; }

.width-175 {
  height: 175px !important; }

.width-150 {
  height: 150px !important; }

.width-125 {
  height: 125px !important; }

.width-100 {
  height: 100px !important; }

.width-75 {
  height: 75px !important; }

.width-50 {
  height: 50px !important; }

.width-25 {
  height: 25px !important; }

.padding-100 {
  padding: 100px !important; }

.padding-95 {
  padding: 95px !important; }

.padding-90 {
  padding: 90px !important; }

.padding-85 {
  padding: 85px !important; }

.padding-80 {
  padding: 80px !important; }

.padding-75 {
  padding: 75px !important; }

.padding-70 {
  padding: 70px !important; }

.padding-65 {
  padding: 65px !important; }

.padding-60 {
  padding: 60px !important; }

.padding-55 {
  padding: 55px !important; }

.padding-50 {
  padding: 50px !important; }

.padding-45 {
  padding: 45px !important; }

.padding-40 {
  padding: 40px !important; }

.padding-35 {
  padding: 35px !important; }

.padding-30 {
  padding: 30px !important; }

.padding-25 {
  padding: 25px !important; }

.padding-20 {
  padding: 20px !important; }

.padding-15 {
  padding: 15px !important; }

.padding-10 {
  padding: 10px !important; }

.padding-5 {
  padding: 5px !important; }

.display-none {
  display: none !important; }

.display-block {
  display: block !important; }

.display-inline-block {
  display: inline-block !important; }

.display-inline {
  display: inline !important; }

.display-flex {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.position-fixed {
  position: fixed !important; }

.position-relative {
  position: relative !important; }

.position-absolute {
  position: absolute !important; }

.position-static {
  position: static !important; }

.z-index--1 {
  z-index: -1 !important; }

.z-index-1 {
  z-index: 1 !important; }

.z-index-2 {
  z-index: 2 !important; }

.z-index-3 {
  z-index: 3 !important; }

.z-index-4 {
  z-index: 4 !important; }

.z-index-5 {
  z-index: 5 !important; }

.z-index-6 {
  z-index: 6 !important; }

.z-index-7 {
  z-index: 7 !important; }

.z-index-8 {
  z-index: 8 !important; }

.z-index-9 {
  z-index: 9 !important; }

.z-index-10 {
  z-index: 10 !important; }

.z-index-9999 {
  z-index: 9999 !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-justify {
  text-align: justify !important; }

.font-italic {
  font-weight: italic !important; }

.font-oblique {
  font-weight: oblique !important; }

.font-normal {
  font-weight: normal !important; }

.font-bold {
  font-weight: bold !important; }

.font-bolder {
  font-weight: bolder !important; }

.font-lighter {
  font-weight: lighter !important; }

.overflow-none {
  overflow: none !important; }

.overflow-auto {
  overflow: auto !important; }

.overflow-scroll {
  overflow: scroll !important; }

.overflow-scroll-x {
  overflow: scroll-x !important; }

.overflow-scroll-y {
  overflow: scroll-y !important; }

.overflow-inherit {
  overflow: inherit !important; }

.overflow-hidden {
  overflow: hidden !important; }

.overflow-visible {
  overflow: visible !important; }

.transition-background {
  transition-property: background !important; }

.transition-color {
  transition-property: color !important; }

.transition-opacity {
  transition-property: opacity !important; }

.transition-transform {
  transition-property: -webkit-transform !important;
  transition-property: transform !important;
  transition-property: transform, -webkit-transform !important; }

.transition-all {
  transition-property: all !important; }

.cursor-pointer {
  cursor: pointer !important; }

.cursor-default {
  cursor: default !important; }

.cursor-auto {
  cursor: auto !important; }

.cursor-none {
  cursor: none !important; }

.cursor-not-allowed {
  cursor: not-allowed !important; }

.cursor-help {
  cursor: help !important; }

.cursor-progress {
  cursor: progress !important; }

.cursor-cell {
  cursor: cell !important; }

.cursor-wait {
  cursor: wait !important; }

.cursor-text {
  cursor: text !important; }

.cursor-copy {
  cursor: copy !important; }

.cursor-move {
  cursor: move !important; }

.cursor-no-drop {
  cursor: no-drop !important; }

.cursor-col-resize {
  cursor: col-resize !important; }

.cursor-context-menu {
  cursor: context-menu !important; }

.cursor-row-resize {
  cursor: row-resize !important; }

.cursor-n-resize {
  cursor: n-resize !important; }

.cursor-e-resize {
  cursor: e-resize !important; }

.cursor-s-resize {
  cursor: s-resize !important; }

.cursor-w-resize {
  cursor: w-resize !important; }

.cursor-grab {
  cursor: -webkit-grab !important;
  cursor: grab !important; }

.cursor-grabbing {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important; }

.cursor-zoom-in {
  cursor: zoom-in !important; }

.cursor-zoom-out {
  cursor: zoom-out !important; }

.clearfix:before, .clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.scroll-x, .scroll-y {
  -webkit-overflow-scrolling: touch; }

.scroll-x {
  overflow-x: auto; }

.scroll-y {
  overflow-y: auto; }

.full-width, .fluid, .full {
  width: 100%; }

.float.right, .float .fr {
  float: right !important; }

.float.left, .float .fl {
  float: left !important; }

img.full-width {
  width: 100%;
  max-width: 100%; }

img.responsive {
  height: auto;
  width: 100%;
  max-width: 100%; }

img.round {
  border-radius: 50%; }

.no-margin {
  margin: 0 !important; }

.no-margin-top {
  margin-top: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-margin-left {
  margin-left: 0; }

.no-margin-right {
  margin-right: 0; }

.no-border {
  border: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-top {
  padding-top: 0; }

.no-padding-bottom {
  padding-bottom: 0; }

.no-padding-right {
  padding-right: 0; }

.no-padding-left {
  padding-left: 0; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.text-decoration-underline, .t-d-u {
  text-decoration: underline; }

.text-decoration-strike, .t-d-s {
  text-decoration: line-through; }

.text-decoration-none, .no-text-decoration, .no-t-d {
  text-decoration: none; }

.color-primary, a.color-primary {
  color: #0F5FB6 !important; }

.color-alt, a.color-alt {
  color: #9799A3 !important; }

.color-dark, a.color-dark {
  color: #323232 !important; }

.color-light, a.color-light {
  color: #EEEEEE !important; }

.color-green, a.color-green {
  color: #4AAA1D !important; }

.color-red, a.color-red {
  color: #DA2839 !important; }

.color-blue, a.color-blue {
  color: #0D5FB7; }

.color-yellow, a.color-yellow {
  color: #FCCF53; }

.color-white, a.color-white {
  color: #FEFFFF !important; }

.hover-btn-outline:hover {
  background: transparent;
  border: 1px solid; }

.hover-btn-outline-reverse:hover {
  background: auto;
  border: 1px solid transparent; }

.hover-opacity-0:hover {
  opacity: 0; }

.hover-opacity-25:hover {
  opacity: .25; }

.hover-opacity-50:hover {
  opacity: .5; }

.hover-opacity-75:hover {
  opacity: .75; }

.hover-opacity-100:hover {
  opacity: 1; }

.hover-scale-0:hover {
  -webkit-transform: scale(0);
  transform: scale(0); }

.hover-scale-25:hover {
  -webkit-transform: scale(0.25);
  transform: scale(0.25); }

.hover-scale-50:hover {
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

.hover-scale-100:hover {
  -webkit-transform: scale(1);
  transform: scale(1); }

.hover-scale-105:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

.hover-scale-125:hover {
  -webkit-transform: scale(1.25);
  transform: scale(1.25); }

/* ARIA + Screen reader assists */
.sr-only {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0; }

[aria-hidden="true"] {
  display: none; }

.position-fixed-top {
  top: 0;
  left: 0;
  right: 0;
  position: fixed; }

.position-fixed-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed; }

.position-absolute-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute; }

.position-absolute-top {
  top: 0;
  left: 0;
  right: 0;
  position: absolute; }

.float-right {
  float: right; }

.float-left {
  float: left; }
