@mixin range($bgColor, $borderColor){
  .range {
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    box-sizing: border-box;
    background-clip: padding-box;
    vertical-align: top;
    outline: none;
    line-height: 1;
    border-radius: 4px;
    border: none;
    height: 2px;
    border-radius: 0;
    border-radius: 3px;
    background-image: linear-gradient($borderColor, $borderColor);
    background-position: left center;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 31px;
    &::-moz-range-track {
      position: relative;
      border: none;
      background-color: $borderColor;
      height: 2px;
      border-radius: 30px;
      box-shadow: none;
      top: 0;
      margin: 0;
      padding: 0;
    }
    &::-webkit-slider-thumb {
      cursor: pointer;
      position: relative;
      height: 29px;
      width: 29px;
      background-color: #fff;
      border: 1px solid $borderColor;
      border-radius: 30px;
      box-shadow: none;
      top: 0;
      margin: 0;
      padding: 0;
    }
    &::-moz-range-thumb {
      cursor: pointer;
      position: relative;
      height: 29px;
      width: 29px;
      background-color: #fff;
      border: 1px solid $borderColor;
      border-radius: 30px;
      box-shadow: none;
      margin: 0;
      padding: 0;
    }
    &::-webkit-slider-thumb:before {
      position: absolute;
      top: 13px;
      right: 0;
      left: -1024px;
      width: 1024px;
      height: 2px;
      background-color: $bgColor;
      content: '';
      margin: 0;
      padding: 0;
    }
    &:disabled {
      opacity: 0.3;
      cursor: default;
      pointer-events: none;
    }
  }

  @content;
}
