@import "mixins";
@import "variables";

///-----------------------
/// Shared
body{
//	background-color: $gray8;
	//overflow:hidden;
	//position:relative;

}
//Left Sidebar
.offcanvas__left,
.offcanvas__right  {
  background-color: $gray10;
}

//Middle
.offcanvas__middle {
  background-color: $gray9;
}




///-----------------------------------
/// Off Canvas
body {
	min-width: 320px !important;
	overflow: hidden;
	position: relative;
  overflow-x: hidden;
	@include respond('tablet'){
		 overflow-x: auto;
	}

	.box{
		background: #fff;
		margin: 5px;
		.list-ui{
			border-top: none;
			border-bottom: none;
			> :last-child{
				border-bottom: none;
			}
		}
		h3{
			border-bottom: 1px solid $gray4;
			margin-top: 0;
		}
	}


	header{
		h1{
			font-weight: 500;
			color: $gray5;
			font-size: 1.3rem;
			margin: 0;
			padding: 5px 10px;
		}
	}
}


.visible-mobile{
	display:none;
	@include respond('mobile'){
		display:block !important;
	}
	@include respond('tablet'){
		display:none ;
	}
	@include respond('desktop'){
		display:none ;
	}
}

.visible-tablet{
		display:none;
	@include respond('mobile'){
		display:none ;
	}
	@include respond('tablet'){
			display:block !important;
	}
	@include respond('desktop'){
		display:none;
	}
}

.visible-desktop{
		display:none;
	@include respond('mobile'){
		display:none;
	}
	@include respond('tablet'){
		display:none;
	}
	@include respond('desktop'){
			display:block !important;
	}
}


.debug{
	 .offcanvas .box {
		 @include respond('mobile'){
				background-color: $green-light !important;
		}
		@include respond('tablet'){
			background-color: $blue-light !important;
		}
		@include respond('desktop'){
			background-color: $red-light !important;
		}
	}
}






///--------------------------------
/// Off Canvas Layout - Start
$offcanvas-sidebar-width:250px;


.offcanvas {
  display: block;
	transition: all 0.3s ease-out;

	margin: 0;
  padding: 0;
  width: 100%;
	height: 100%;
	height: 100vh;
	> *{
		box-sizing: border-box;
  	min-height: 150px;
	  min-width: 150px;
	}

	@include respond('desktop'){
    display: flex;
    flex-flow: row nowrap;
  }
	@include respond('tablet'){
    display: flex;
    flex-flow: row nowrap;
  }

	@include element('toggle'){
		display: none  !important;
		@include respond('desktop'){
			display:none  !important;
		}
		@include respond('tablet'){
			display:block  !important;
		}
		@include respond('mobile'){
			display:block  !important;
		}
	}

	//Middle
	@include element('middle'){
		width: 100%;
		height: 100%;
		position: absolute;
		transition: all 0.3s ease-out;
		@include respond('tablet'){
			width: 100%;
			position: static;
		}
		@include respond('desktop'){
			position: static;
		}
		@include modifier('is-open'){
			transform: translateX(0);
		}
	}

	.offcanvas__left,
	.offcanvas__right {
		position: absolute;
		width: $offcanvas-sidebar-width;
		height: 100%;
		backface-visibility: hidden;
		transition: transform 0.2s ease-out;
		z-index: 1;
	}

	&.push{
		background:red;
	}


	//Left
	@include element('left'){
		transform: translateX( 5 - $offcanvas-sidebar-width);
		left: 0;
		@include modifier('is-open'){
			transform: translateX(0);
		}
		@include respond('tablet'){
			left: auto;
			position: static !important;
			transform: translate(0,0);
		}
		@include respond('desktop'){
			position: static;
			transform: translateX(0);
		}

	}

	//Right
	@include element('right'){
		right: 0;
		transform: translateX($offcanvas-sidebar-width);
		@include modifier('is-open'){
			transform: translateX(0);
		}
		@include respond('desktop'){
		  right: auto;
			position: static;
			transform: translate(0,0);
			transition: none 0 ease-out;
		}
		@include respond('desktop'){
			position: static;
			transform: translateX(0);
		}
	}
}
